{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'ept-paragraph',
  'ept-micromodal-paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'ept-paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'paragraph-id-' ~ paragraph.id(),
]
%}

{{ attach_library('ept_micromodal/ept_micromodal') }}
<div{{ attributes.addClass(classes).setAttribute('id', 'paragraph-id-' ~ paragraph.id()) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% block content %}
      {% if content.field_ept_title|render %}
        <h2>
          {{ content.field_ept_title }}
        </h2>
      {% endif %}
      {{ content|without('field_ept_settings', 'field_ept_text', 'field_ept_micromodal_title', 'field_ept_title') }}
    {% endblock %}

    <div class="bg-washed-green tc">
      {% if content.field_ept_settings.0['#ept_settings']['button_type'] == 'button' %}
        <button data-micromodal-trigger="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}" aria-controls="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}">
          {{ content.field_ept_settings.0['#ept_settings']['button_text'] }}
        </button>
      {% else %}
        <a data-micromodal-trigger="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}" href="javascript:;" aria-controls="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}">
          {{ content.field_ept_settings.0['#ept_settings']['button_text'] }}
        </a>
      {% endif %}
    </div>

    <div class="modal micromodal-slide" id="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close aria-labelledby="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}-title">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}-title">
          <header class="modal__header">
            <h2 class="modal__title" id="modal-1-title">
              {{ content.field_ept_micromodal_title }}
            </h2>
            {# Print the "X" icon if is configured to display, or if the field doesn't exists on database #}
            {% if (content.field_ept_settings.0['#ept_settings']['display_close_icon'] == 1) or (content.field_ept_settings.0['#ept_settings']['display_close_icon'] is not defined) %}
              <button class="modal__close" aria-label="{{ 'Close modal'|t }}" data-micromodal-close></button>
            {% endif %}
          </header>
          <main class="modal__content" id="modal-{{ 'micromodal-paragraph-id-' ~ paragraph.id() }}-content">
            {{ content.field_ept_text }}
          </main>
          <footer class="modal__footer">
            <button class="modal__btn" data-micromodal-close aria-label="{{ 'Close this dialog window'|t }}">{{ content.field_ept_settings.0['#ept_settings']['close_button_text'] }}</button>
          </footer>
        </div>
      </div>
    </div>

  </div>
</div>
{{ styles|raw }}
